---
language: ruby
sudo: false
bundler_args: --without development
before_install:
  - rm Gemfile.lock || true
  - gem update bundler
rvm:
  - 2.0
  - 2.1
  - 2.2
script: bundle exec rake test --trace
env:
  - PUPPET_VERSION="~> 4.4.0" STRICT_VARIABLES=yes
  - PUPPET_VERSION="~> 4.5.0" STRICT_VARIABLES=yes
  - PUPPET_VERSION="~> 4.6.1" STRICT_VARIABLES=yes
